{%load static%}
<!-- Page Wrap -->
<div class="page-wrap">

    <div id="home-slider">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="row swiper-slide swiper-slide-one">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-one">
               <img src="{%static 'images/super.jpg'%}" height="100%">
               
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-two">
                <img src="{%static 'images/new.webp'%}" height="100%">
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-two">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-three">
                <img src="{%static 'images/slide3.jpg'%}" height="100%">
               
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-four" width="40%">
                <img src="{%static 'images/slide2.jpg'%}" height="100%">
              </div>
            </div>
          </div>
          <div class="swiper-slide swiper-slide-three">
            <div class="swiper-image" data-swiper-parallax-y="-20%">
              <div class="swiper-image-inner swiper-image-left swiper-image-five">
                <img src="{%static 'images/snk.jpg'%}" height="100%">
              </div>
            </div>
            <div class="swiper-image" data-swiper-parallax-y="35%">
              <div class="swiper-image-inner swiper-image-right swiper-image-six">
                <img src="{%static 'images/cloth.jpg'%}" height="100%">
              </div>
            </div>
          </div>
  
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
  </div>