{% extends 'products/base.html' %}
{%load static%}

    {%block content%}
   
     <div class="product-card-list">
        {%for product in products%}
      
        <article class="product-card">
          <img src="{{product.image.url}}" alt="{{product.name}}">
          
          <p>{{product.name}}</p>
          <p>shs.{{product.price}}</p>
          <p>Business: {{product.business_account.name}}</p>
          <button data-product="{{product.id}}" data-action="add" class="update-cart fbtn">Add to cart</button>
        </article>
        {%endfor%}

        

    {% endblock %}

  