{% extends 'products/base.html' %}
{%load static%}


    {%block content%}
    
    <div class="product-card-list">
      

        {% for category in categories %}
        
        <a href="{% url 'products:category' category.id  %}">
          <div class="product-card">
            <img src="{{category.image.url}}" alt="{{category.name}}">
            <p>{{category.name|title}}</p>
          </div>
        </a>
        {% endfor %}
        <!-- More product cards here -->
      </div>
      {%endblock%}
